/* Write your CSS here */
.trigger-button {
  border-radius: 8px;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  margin-left: 50px;
}
.popup-content {
  display: flex;
}
.close-button {
  height: 21px;
  margin-top: 5px;
  margin-right: 10px;
}
.responsive-container {
  margin: 30px;
  width: 100%;
}
